[Desktop Entry]
Name=转录组DeNovo组装
Name[zh_CN]=转录组DeNovo组装
Comment=转录组测序数据 De Novo 组装分析工具
Comment[zh_CN]=转录组测序数据 De Novo 组装分析工具
Exec=rnaseq-denovo
Icon=rnaseq-denovo
Terminal=false
Type=Application
Categories=Science;Biology;Education;
StartupNotify=true
Encoding=UTF-8
